.banner {
     color: white;
     object-fit : contain;
     height: 520px;
}

.banner__contents {
    margin-left:50px;
    padding-top:200px;
    height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.98rem;
    max-width: 480px;
    height: 80px;
}
.banner__disclaimer {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.6rem;
  max-width: 480px;
  height: 80px;
}


.banner__buttons{
    display: flex;
    /* padding:5px; */
}

.banner__button { 
    cursor:pointer;
    display: flex;

    color: #fff;
    background-color: rgba(51, 51, 51, 1);
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.3rem;
    margin-right: 1rem;

    padding: 0.4rem 1.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    /* padding-bottom: 0.5rem; */
}


.banner__button:hover { 
    color: #fff;
    background-color: rgba(51, 51, 51, 0.7);

    transition: all 0.2s;
}


.banner__button_play {
  cursor: pointer;
  display: flex;
  color: #000;
  background-color: #e6e6e6;

  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1.7rem;
}

.banner__button_play:hover {
  opacity: 0.5;
  transition: all 0.2s;
}

.banner__button_text {
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    font-size: 1rem;
}


.banner__button_icon {
    width:  25px;
    height: 25px;
    margin-left: -5px;
}


.banner__fadeBottom { 
    height: 8.5rem;
    background-image: linear-gradient(180deg, 
    transparent, rgba(37,37, 37, 0.61), #111);
}
 

@media screen and (max-width: 1080px) {
    
}

@media screen and (max-width: 768px) {
    .banner {
        color: white;
        /* object-fit: scale-down; */
        height: 100vh;
        max-width: 100%;
        margin: 0%;
    }

    .banner__contents {
        margin-left: 20px;
        padding-top: 60%;
        height: 45%;
        max-width: 100%;
    }

    .banner__title {
    font-size: 3.5rem;
    /* text-align: center; */
    font-weight: 700;
    padding-bottom: 0.3rem;
    }

    .banner__description {
    line-height: 1.3;
    /* margin-right: 1rem; */
    padding: 0.5rem;
    font-size: 1.05rem;
    /* font-size: medium; */
    max-width: 90%;
    height: 6rem;
    }

    .banner__fadeBottom {
    margin-top: -260px;
    height: 410px;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.97),
        #111
    );
    }
    .banner__disclaimer {
        font-size: medium;
        padding-top: 20px;
    }

}
